node_modules
dist

.roo
AGENTS.md
copilot-instructions.md
src-tauri/target
.DS_Store

src-tauri/webview2-fixed-runtime/*
!src-tauri/webview2-fixed-runtime/placeholder.txt

scripts/bundle/*
!scripts/bundle/templates/
!scripts/bundle/templates/**
!scripts/bundle/bundle.sh
